@import url(https://fonts.googleapis.com/css?family=Kosugi+Maru);

.container {
  font-family: 'Kosugi Maru', sans-serif;
  background-color: #e3feff;
  min-height: 100vh;
}

h1 {
  font-family: 'Kosugi Maru', sans-serif;
}

h2 {
  font-family: 'Kosugi Maru', sans-serif;
}

h3 {
  font-family: 'Kosugi Maru', sans-serif;
}
